@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');


/** Universal **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: auto;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  color: #444444;
}

.button {
  width: auto;
  color: #ffffff;
  padding: 12px 24px !important;
  background-color: #1C80F5;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0px 3px 20px rgb(93, 155, 255, 0.45);
}

.button:hover {
  box-shadow: 0px 3px 20px rgb(45, 105, 200, 0.65);
  transition: all 0.3s ease;
}

.button-inactive {
  color: #ffffff !important;
  padding: 12px 24px !important;
  background-color: #A7A7A7 !important;
  border-radius: 6px !important;
  text-decoration: none !important;
}

h2 {
  font-size: 21px;
  font-weight: bold;
}

.mt-30 {
  margin-top: 50px;
}


/** Nav Bar **/


nav {
  background-color: #ffffff;
  color: #444444;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-content:;
}

nav #nav-icon {
  color: #444444;
  font-weight: bold;
  text-decoration: none;
  font-size: 21px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #444444;
  text-decoration: none;
  padding-left: 50px;
}

nav ul li a:hover {
  color: #1C80F5;
  transition: all 0.3s ease;
}

nav ul li a.active {
  color: #1C80F5;
}


/** Footer **/


footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
}

footer .footer-links p {
  margin-bottom: 20px;
}

footer .footer-links .button {
  margin-right: 10px;
}


/** Sections **/

section {
  margin: 150px 30px;
}

section h1 {
  font-size: 21px;
  padding-bottom: 6px;
  margin-bottom: 20px;
  border-bottom: solid 4px #1C80F5;
  width: fit-content;
}

section .project-details {
  display: flex;
  background-color: #ffffff;
  padding: 20px 40px;
  margin-top: -4px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 3px 20px rgb(93, 155, 255, 0.20);
}

section .project-details h2 {
  margin: 10px auto 10px;
}

section .project-details p {
  margin-bottom: 30px;
}

section .project-details span {
  font-style: italic;
  font-weight: bold;
}

section .project-details .details-box {
  width: 50%;
}

section .project-details .details-box-col {
  display: flex;
  flex-wrap: wrap;
}

section .project-details .details-box-col .box {
  margin-right: 50px;
}

section .section-details {
  display: flex;
}

section .section-details .details {
  margin: auto 50px auto 0px;
}

section .section-details .details h2 {
  margin-bottom: 10px;
}

section .section-details .details span {
  color: #1C80F5;
}

section h1 span {
  color: #1C80F5;
}

section .section-details img {
  width: 50%;
  border-radius: 20px;
}

section img {
  width: 100%;
  border-radius: 20px;
}

section .m-top {
  margin-top: 50px;
}

section .project-buttons {
  width: fit-content;
  max-width: 1400px;
  margin: auto;
}

section .project-buttons .m-left {
  margin-left: 20px;
}

section .section-details .m-left {
  margin-left: 30px;
}

section .inline {
  display: flex !important;
  align-items: center;
}

section .inline a {
  min-width: 250px;
  text-align: center;
}


/** Home Page **/


#intro {
  font-size: 32px;
}

#intro span {
  color: #1C80F5;
}

.project-card {
  margin: 0px auto 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0px 3px 20px rgb(93, 155, 255, 0.20);
}

.project-card img {
  width: 60%;
  border-radius: 20px 0px 0px 20px;
}

.project-info {
  width: auto;
  margin: auto 50px;
}

.project-info h2 {
  margin-bottom: 20px;
  font-size: 21px;
}

.project-info p {
  padding-bottom: 36px;
}


/** SeeFood App **/


#cover-image {
  width: 100% !important;
  max-width: 1400px;
  border-radius: 20px 20px 0px 0px;
}

/** Media Queries **/

@media (max-width: 880px) {

  /** Home Page **/

  nav {
    padding: 30px 20px;
  }
  .project-card {
    margin: 0px auto 50px;
    display: flex;
    flex-direction: column;
  }
  .project-card img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  }
  .project-info {
    width: auto;
    margin: auto 30px;
    padding-bottom: 36px;
  }
  section .project-card .project-info .sm-mt-30 {
    margin-top: 30px;
  }
  footer {
    display: block;
  }
  footer .footer-links {
    margin-bottom: 50px;
  }

  /** Sections **/

  section .project-details {
    display: block;
  }
  section .project-details .details-box {
    width: 100%;
  }
  section .project-details .details-box-col {
    display: flex;
    flex-wrap: wrap;
  }
  section .project-details .details-box-col .box {
    width: auto;
  }
  section .section-details {
    display: block;
    margin-top: 50px;
  }
  section .section-details img {
    margin: 20px auto;
    width: 100%;
  }
  section .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  section .section-details .m-left {
    margin-left: 0px;
  }
  .sm-mt-cover {
    margin: 30px 20px;
  }
  #cover-image {
    border-radius: 10px;
  }
  section .project-details h2 {
    margin: 0px auto 10px;
  }
  section .project-details p {
    margin-bottom: 30px;
  }
  section .details-box-col p {
    margin-bottom: 10px;
  }
}

@media (max-width: 680px) {

  /** Sections **/

  section .project-buttons {
    display: flex;
    flex-direction: column;
  }
  section .project-buttons a {
    text-align: center;
  }
  section .project-buttons .m-left {
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media (max-width: 450px) {

  /** Home Page **/

  section {
    margin: 100px 20px;
  }
  nav ul {
    padding-top: 5px;
  }
  nav ul li a {
    padding-left: 20px;
    align-content: center;
  }
}