/*                                                  */
/* ____________________ Global ____________________ */
/*                                                  */

@font-face {
    font-family: "New York";
    src: url('../fonts/NewYorkLarge-Regular.otf');
}

@font-face {
    font-family: "SF Pro";
    src: url('../fonts/SF-Pro-Text-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #FFFDFA;
    font-family: 'Roboto', sans-serif;
    color: #707070;
}

h1 {
    font-family: "New York";
    font-size: 2.5em;
    line-height: 1.15em;
}

h2 {
    font-family: "New York";
    font-size: 2em;
    line-height: 1.5em;
}

p {
    font-family: "SF Pro";
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
}

section {
    text-align: center;
}

.title-section {
    margin: 110vh auto 0px;
    width: 80%;
    color: #707070;
    text-align: center;
}

.title-section svg {
    width: 250px;
    margin: 10px auto;
}

/*                                                      */
/* ____________________ Navigation ____________________ */
/*                                                      */

nav {
    line-height: 50px;
    width: 50%;
    z-index: 1;
}


nav a {
    font-weight: 500;
    color: #ffffff;
}

.nav-left {
    position: absolute;
    top: 50px;
    left: 5%;
}

.nav-left a {
    text-decoration: none;
    transition: 0.5s;
}

.nav-left a:hover {
    color: #1d3861;
}

/*                                                            */
/* _________________ Sam Ramirez Hero Title _________________ */
/*                                                            */

#logo {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: none;
    animation: fill 1.5s ease forwards 4.5s;
    z-index: 2;
}

#logo path:nth-child(1) {
    stroke-dasharray: 507px;
    stroke-dashoffset: 507px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 445px;
    stroke-dashoffset: 445px;
    animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 681px;
    stroke-dashoffset: 681px;
    animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 624px;
    stroke-dashoffset: 624px;
    animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 445px;
    stroke-dashoffset: 445px;
    animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 681px;
    stroke-dashoffset: 681px;
    animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 253px;
    stroke-dashoffset: 253px;
    animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 272.7px;
    stroke-dashoffset: 272.7px;
    animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 398px;
    stroke-dashoffset: 398px;
    animation: line-anim 2s ease forwards 2.4s;
}

#logo path:nth-child(10) {
    stroke-dasharray: 397.39px;
    stroke-dashoffset: 397.39px;
    animation: line-anim 2s ease forwards 2.7s;
}

.span-title {
    position: absolute;
    top: 60vh;
    width: 90%;
    left: 5%;
    animation-delay: 4.5s;
    z-index: 3;
}

.span-title h1 {
    font-family: "SF Pro";
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
}

/*                                                      */
/* _________________ Background Items _________________ */
/*                                                      */

.background-image {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -10;
    background-color: #60c5ff;
    opacity: 1;
}

.background-rectangle {
    position: absolute;
    top: 50vh;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 50vh;
    background-color: #8cd5ff;
    z-index: -1;
}

.background-squiggle svg {
    position: absolute;
    top: 30vh;
    right: 20%;
    width: 60%;
    z-index: 1;
}

/*                                                          */
/* _________________ Introduction Section _________________ */
/*                                                          */

.intro-section-container {
    margin: 50px auto 0px;
    width: 90%;
    max-width: 1300px;
    box-shadow: 2px 2px 10px #d4d4d4;
    padding: 50px;
}

.skill-box {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.skill-box i {
    margin: 20px;
}

.fa-html5 {
    color: #ff5511;
    animation-delay: 0.3s;
}

.fa-css3-alt {
    color: #1dacff;
    animation-delay: 0.5s;
}

.fa-js {
    color: rgb(255, 196, 0);
    animation-delay: 0.7s;
}

.fa-sass {
    color: #ff2a94;
    animation-delay: 0.9s;
}

.fa-bootstrap {
    color: #a51dff;
    animation-delay: 1.1s;
}

.fa-react {
    color: #1dacff;
    animation-delay: 1.3s;
}

.fa-adobe {
    color: #ff0000;
    animation-delay: 1.5s;
}

/*                                                */
/* _________________ Work Title _________________ */
/*                                                */

.work-title {
    margin: 150px auto 0px;
}

/*                                                            */
/* _________________ * Work Sections * _________________ */
/*                                                            */

.work-section {
    width: 100%;
    margin: 50px auto 100px;
    background-image: linear-gradient(to top right, #ffcbcb, #fce8ff);
}

.work-section img {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 50px auto;
    left: 50%;
    transform: translateX(-50%);
}

.work-info {
    width: 80%;
    max-width: 1000px;
    margin: 0px auto;
    padding-bottom: 50px;
    display: block;
    text-align: center;
    align-items: center;
}

.work-info h2 {
    border-bottom: 2px dotted #707070;
}

.work-info p {
    margin: 20px auto;
}

.work-links {
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.work-links a {
    cursor: pointer;
    padding: 5px 20px;
    margin: 10px;
    color: #ffffff;
    background-color: #707070;
    border-radius: 25px;
    transition: 0.5s;
}

.work-links a:hover {
    background-color: #1d3861;
    color: #ffffff;
}

/* Lyft Bag Subsection */
.lyftbag-section {
    background-image: linear-gradient(to top right, #c6f8ff, #e5ffcc);
}

/* Checkers Subsection */
.checkers-section {
    background-image: linear-gradient(to top right, #ffcdcd, #ebebeb);
}

/* Sound Maker Subsection */
.soundmaker-section {
    background-image: linear-gradient(to top right, #c5e5ff, #bbfffc, #fff8d3, #ffe2cb, #ffc5d4, #f5caca);
}

/* To-Do List Subsection */
.todolist-section {
    background-image: linear-gradient(to top right, #c8e6ff, #ececec);
}

/*                                                      */
/* _________________ Contact Sections _________________ */
/*                                                      */

.contact-title {
    margin: 150px auto 50px;
}

.contact-container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto 100px;
}

.contact-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-container ul a {
    margin: 20px;
}

.contact-container ul li:hover {
    transform: scale(1.1);
}

.contact-container ul a li {
    list-style: none;
    transition: 0.3s;
    text-decoration: none;
    color: #707070;
}

.icon {
    transition: 0.3s;
}

.github-icon:hover {
    color: #000000;
}

.linkedin-icon:hover {
    color: #006ec9;
}

.behance-icon:hover {
    color: #003cff;
}

.mail-icon:hover {
    color: #00c3ff;
}

.phone-icon:hover {
    color: #00d612;
}

/* Contact Icon Animation Delays Subsection */
.contact-container a:nth-child(2) {
    animation-delay: 0.3s;
}

.contact-container a:nth-child(3) {
    animation-delay: 0.5s;
}

.contact-container a:nth-child(4) {
    animation-delay: 0.7s;
}

.contact-container a:nth-child(5) {
    animation-delay: 0.9s;
}



footer {
    width: 100%;
    background-color: #60c5ff;
    border: 1px solid transparent;
}

footer .copyright-container {
    width: 90%;
    margin: 50px auto;
    color: #ffffff;
}



/*                                                          */
/* _________________ Key Frame Animations _________________ */
/*                                                          */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #4AA8CB;
    }
}
  


@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2.25em;
    }
    h2 {
        font-size: 1.75em;
    }
    p, a {
        font-size: 1em;
    }
    .span-title h1 {
        font-size: 1.5em;
    }
    .nav-left {
        left: 50%;
        transform: translateX(-50%);
    }
    .title-section svg {
        width: 60%;
    }
    .skill-box i {
        animation: none;
        transform: scale(0.75);
    }
    .contact-container a li {
        transform: scale(0.75);
    }
}