/*                                                  */
/* ____________________ Global ____________________ */
/*                                                  */
@import url("https://fonts.googleapis.com/css?family=Poppins:700|Roboto:400,500,500i");

@font-face {
    font-family: "New York";
    src: url('../fonts/NewYorkLarge-Regular.otf');
}

@font-face {
    font-family: "SF Pro";
    src: url('../fonts/SF-Pro-Text-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #141414;
    font-family: 'Roboto', sans-serif;
    color: #707070;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5em;
    line-height: 1.15em;
    color: #f0f0f0;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    color: #f0f0f0;
}

p {
    font-family: "SF Pro";
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    color: #707070;
}

section {
    text-align: center;
}

.title-section {
    width: 60%;
    max-width: 900px;
    color: #707070;
}

.title-section img {
    width: 250px;
    margin-bottom: 20px;
}

.title-border {
    height: 3px;
    width: 200px;
    background-color: #f0f0f00f;
    margin: 100px auto 0px;
}

.about-title {
    margin: 100vh auto 0px;
    padding-top: 25vh;
}

/*                                             */
/* _________________ Nav Bar _________________ */
/*                                             */

nav {
    background-color: #1b1b1b;
    position: sticky;
    width: 100%;
    padding: 30px 0px;
    z-index: 999;
}

.nav-container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
}

.nav-container img {
    width: 50px;
    transition: ease-in all 0.7s;
}

.nav-container img:hover {
    transform: rotate(360deg);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Nav Links */
.nav-links ul {
    display: flex;
}

.nav-links ul li {
    list-style: none;
    padding-left: 30px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #ffffff;
}

/* Hover Effects */
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width 0.5s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width 0.5s;
}

/*                                                            */
/* _________________ Sam Ramirez Hero Title _________________ */
/*                                                            */

#logo {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: none;
    animation: fill 1.5s ease forwards 4.5s;
    z-index: 2;
}

#logo path:nth-child(1) {
    stroke-dasharray: 507px;
    stroke-dashoffset: 507px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 445px;
    stroke-dashoffset: 445px;
    animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 681px;
    stroke-dashoffset: 681px;
    animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 624px;
    stroke-dashoffset: 624px;
    animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 445px;
    stroke-dashoffset: 445px;
    animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 681px;
    stroke-dashoffset: 681px;
    animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 253px;
    stroke-dashoffset: 253px;
    animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 272.7px;
    stroke-dashoffset: 272.7px;
    animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 398px;
    stroke-dashoffset: 398px;
    animation: line-anim 2s ease forwards 2.4s;
}

#logo path:nth-child(10) {
    stroke-dasharray: 397.39px;
    stroke-dashoffset: 397.39px;
    animation: line-anim 2s ease forwards 2.7s;
}

.span-title {
    position: absolute;
    top: 60vh;
    width: 90%;
    left: 5%;
    animation-delay: 4.5s;
    z-index: 3;
}

.span-title h1 {
    font-family: "SF Pro";
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
}

/*                                                          */
/* _________________ Skills Section _________________ */
/*                                                          */

.skill-title {
    margin: 0px auto 0px;
    padding-top: 25vh;
}

.intro-section-container {
    margin: 50px auto 0px;
    width: 90%;
    max-width: 1300px;
    padding: 50px;
    background-color: #1b1b1b;
}

/*                                                */
/* _________________ Work Title _________________ */
/*                                                */

.work-title {
    margin: 0px auto 0px;
    padding-top: 25vh;
}

/*                                                            */
/* _________________ * Work Sections * _________________ */
/*                                                            */

#myBtnContainer {
    position: relative;
    display: flex;
    width: 90%;
    max-width: 200px;
    margin: 100px auto 50px;
    justify-content: space-around;
}
  
.filterDiv {
display: none;
}

.show {
display: block;
}

.btn {
border: 2px solid white;
border-radius: 50px;
padding: 12px 16px;
background-color: transparent;
color: white;
cursor: pointer;
}

.btn:hover {
background-color: rgb(60, 60, 60);
}

.btn.active {
background-color: white;
color: black;
}

.work-section {
    width: 100%;
    margin: 0px auto;
    background-color: #1b1b1b;
}

.work-section img {
    position: relative;
    width: 90%;
    max-width: 900px;
    margin: 50px auto;
    left: 50%;
    transform: translateX(-50%);
}

.work-info {
    width: 80%;
    max-width: 1000px;
    margin: 0px auto;
    padding-bottom: 50px;
    display: block;
    text-align: center;
    align-items: center;
}

.work-info p {
    margin: 20px auto;
    text-align: center;
    color: #ffffff;
}

.work-info .fab {
    margin: 20px 10px 0px;
}

.work-links {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.work-links a {
    color: #ffffff;
    padding: 6px 24px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    text-decoration: none;
}

.work-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width 0.5s;
}

.work-links a:hover::after {
    width: 100%;
    transition: width 0.5s;
}

.work-one-section {
    background-color: #005dc1;
}

.work-two-section {
    background-color: #2aa2a4;
}

.work-three-section {
    background-color: #bc2863;
}

.work-four-section {
    background-color: #274585;
}

.work-five-section {
    background-image: linear-gradient(to bottom, #00000009, #00000009) , url('/images/Churro-blur.png');
    background-position: center;
    background-size: cover;
}

.work-six-section {
    background-image: linear-gradient(to bottom, #00000025, #00000025) , url('/images/VisualDesigns-blur.png');
    background-position: center;
    background-size: cover;
}

.work-seven-section {
    background-image: linear-gradient(to bottom, #00000025, #00000025) , url('/images/LyftBag-blur.png');
    background-position: center;
    background-size: cover;
}

.work-eight-section {
    background-image: linear-gradient(to bottom, #00000025, #00000025) , url('/images/YingYangDonut-blur.png');
    background-position: center;
    background-size: cover;
}

/*                                                      */
/* _________________ Contact Sections _________________ */
/*                                                      */

.contact-title {
    margin: 0px auto 50px;
    padding-top: 100px;
}

.contact-container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto 100px;
}

.contact-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-container ul a {
    margin: 20px;
}

.contact-container ul li:hover {
    transform: scale(1.1);
}

.contact-container ul a li {
    list-style: none;
    transition: 0.3s;
    text-decoration: none;
    color: #707070;
}

.icon {
    transition: 0.3s;
}

.github-icon:hover {
    color: #f0f0f0;
}

.linkedin-icon:hover {
    color: #f0f0f0;
}

.behance-icon:hover {
    color: #f0f0f0;
}

.mail-icon:hover {
    color: #f0f0f0;
}

.phone-icon:hover {
    color: #f0f0f0;
}

/* Contact Icon Animation Delays Subsection */
.contact-container a:nth-child(2) {
    animation-delay: 0.3s;
}

.contact-container a:nth-child(3) {
    animation-delay: 0.5s;
}

.contact-container a:nth-child(4) {
    animation-delay: 0.7s;
}

.contact-container a:nth-child(5) {
    animation-delay: 0.9s;
}



footer {
    width: 100%;
    background-color: #1b1b1b;
    border: 1px solid transparent;
}

.copyright-container {
    width: 90%;
    max-width: 1300px;
    margin: 30px auto;
    color: #ffffff;
}

.copyright-container p {
    text-align: center;
}


/*                                                          */
/* _________________ Key Frame Animations _________________ */
/*                                                          */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #ffffff;
    }
}
  


@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2.25em;
    }
    h2 {
        font-size: 1.75em;
    }
    p, a {
        font-size: 1em;
    }
    .span-title h1 {
        font-size: 1.5em;
    }
    .nav-left {
        left: 50%;
        transform: translateX(-50%);
    }
    .title-section {
        width: 90%;
    }
    .title-section svg {
        width: 60%;
    }
    .skill-box i {
        animation: none;
        transform: scale(0.75);
    }
    .contact-container a li {
        transform: scale(0.75);
    }
}